<div class="box__item">
    <figure>
        <img src="{{ asset('assets/dist/img/test_imgs/test-bg-img-2.jpg') }}" alt="">
        <figcaption>
            <h3>Featured Pack</h3>
            <p>Maybe some description</p>
            <a href="#">View more</a>
        </figcaption>
    </figure>
</div>