/app/bootstrap.php.cache
/app/config/parameters.yml
/app/config/parameters_prod.yml
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bower_components
/web/bundles/
/web/assets/dist/
.idea
/node_modules
/npm-debug.log
/ws*
/whitesource.config.json
/npm-shrinkwrap.json
.DS_Store
