{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    {% include 'AppBundle:_Includes:pack_navigation.html.twig' %}
    <div class="page page--pack">
        {% include 'AppBundle:SinglePack:_pack-hero.html.twig' %}
            <div class="page__content">
                <div class="wrapper">
                    <div class="drink-list">
                        {% if pack.package_items is defined %}
                            {% for item in pack.package_items %}
                                {% include 'AppBundle:_Includes:drink-item.html.twig' %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

{% endblock body %}
