{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="page page--browse">
        {% include 'AppBundle::_Includes/billboard.html.twig' %}

        <div class="page__content">
            {% include 'AppBundle:_Includes:browse-navigation.html.twig' %}
            {% if items is defined %}
                <section class="box-slider clearfix">
                    <div class="wrapper">
                        <div class="content">
                            <div class="box__header">
                                <div class="left">
                                    <h2 class="box__header-title">Recently ordered</h2>
                                </div>
                                <div class="right">
                                    <div class="drink-item-slider-arrows"></div>
                                </div>
                            </div>
                            {% if products.items is defined %}
                            <div class="box__list drink-item-slider">
                                    <div class="slide">
                                        {% include 'AppBundle:_Includes:drink-item.html.twig' %}
                                    </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </section>
            {% endif %}


            {# dummy items#}
            {% if products.items is defined %}
            <section id="featured-drinks" class="box-slider clearfix">
                <div class="wrapper">
                    <div class="content">
                        <div class="box__header">
                            <div class="left">
                                <h2 class="box__header-title">Popular drinks</h2>
                            </div>
                            <div class="right">
                                <div class="featured-drink-item-slider-arrows"></div>
                            </div>
                        </div>
                        <div class="box__list featured-drink-item-slider">
                       {% set slide = true %}
                            {% include 'AppBundle:_Includes:browse-drink-item.html.twig' %}
                        </div>
                    </div>
                </div>
            </section>
            {% endif %}

            {#<section class="box-slider clearfix">#}
                {#<div class="wrapper">#}
                    {#<div class="content">#}
                        {#<div class="box__header">#}
                            {#<div class="left">#}
                                {#<h2 class="box__header-title">Recently ordered</h2>#}
                            {#</div>#}
                            {#<div class="right">#}
                                {#<div class="drink-item-slider-arrows"></div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="box__list drink-item-slider">#}
                            {#{% for i in 1..9 %}#}
                                {#<div class="slide">#}
                                    {#<article class="drink-item">#}
                                        {#<div class="drink-item-top">#}
                                            {#<a href="#modal-drink-item" class="activate-modal-link"#}
                                               {#data-effect="mfp-zoom-in">View item</a>#}

                                            {#{% if i == 1 %}#}
                                                {#<div class="drink-item-overlay active">#}
                                                    {#<div class="drink-item-qty-controls">#}
                                                        {#<span class="drink-item-qty-count">1</span>#}
                                                        {#<a class="drink-item-qty-minus" href="#"><span></span></a>#}
                                                        {#<a class="drink-item-qty-plus" href="#"><span></span></a>#}
                                                    {#</div>#}
                                                {#</div>#}
                                            {#{% elseif i==6 %}#}
                                                {#<div class="drink-item-overlay active">#}
                                                    {#<div class="drink-item-overlay-info"><span>Out of stock</span></div>#}
                                                {#</div>#}
                                            {#{% else %}#}
                                                {#<div class="drink-item-overlay">#}
                                                    {#<a class="drink-item-add-first" href="#"><span></span></a>#}
                                                {#</div>#}
                                            {#{% endif %}#}

                                            {#<h2>Item cell in cart Name Line 2 here</h2>#}

                                            {#<div class="drink-img"#}
                                                 {#style='background-image: url({{ asset("assets/dist/img/test_imgs/beer#{i}.png") }});'></div>#}
                                        {#</div>#}
                                        {#<div class="drink-data">#}
                                            {#<div class="drinks-data-slider">#}
                                                {#{% for i in 1..3 %}#}
                                                    {#<div>#}
                                                        {#<p>12 Bottles</p>#}

                                                        {#<p>$11.99</p>#}
                                                    {#</div>#}
                                                {#{% endfor %}#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#</article>#}
                                {#</div>#}
                            {#{% endfor %}#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</section>#}
            {# end dummy items #}

            {#<section class="box clearfix">#}
                {#<div class="wrapper">#}
                    {#<div class="content">#}
                        {#<div class="box__header">#}
                            {#<div class="left">#}
                                {#<h2 class="box__header-title">Recent features</h2>#}
                            {#</div>#}
                            {#<div class="right">#}
                                {#<a href="#">See all<i class="icon icon-arrow"></i></a>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="box__list">#}
                            {#{% for i in 1..3 %}#}
                                {#<div class="box__item box__item--recent-features">#}
                                    {#<div class="box__item-inner"#}
                                         {#style="background-image: url('{{ asset('assets/dist/img/test_imgs/test-bg-img.jpg') }}')">#}
                                        {#<div class="box__item-content">#}
                                            {#<div class="summary">#}
                                                {#<h3>Article Article title two lines</h3>#}
                                            {#</div>#}
                                            {#<a href="#">View more</a>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#{% endfor %}#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</section>#}

            {% if collections is defined %}
                <section class="box-slider-host-collections box clearfix">
                    <div class="wrapper">
                        <div class="content">
                            <div class="box__header">
                                <div class="left">
                                    <h2 class="box__header-title">Host collections</h2>
                                </div>
                                <div class="right">
                                    <div class="featured-host-collection-arrows"></div>
                                </div>
                            </div>
                            <div class="box__list featured-host-collections-slider">
                                {% for collection in collections %}
                                    {% include 'AppBundle:DiscoverHostCollections:_collections-item.html.twig' %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </section>
            {% endif %}
        </div>
    </div>
{% endblock body %}
{% block javascripts_footer %}
    {{ parent() }}

{% endblock javascripts_footer %}
