{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="page page--account">
        {% include 'AppBundle:_Includes:account-navigation.html.twig' %}
        {% include 'AppBundle:Account/Helpers:_account-hero.html.twig' %}

        <div class="page__content">

            <div class="box-slider">
                <div class="wrapper">
                    <div class="content">
                        <div class="box__header">
                            <div class="left">
                                <h2 class="box__header-title">Delivery addresses</h2>
                            </div>
                            <div class="right">
                                <div class="slider-arrows--address"></div>
                            </div>
                        </div>
                        <div class="box__list address-list-slider">
                            {% if profile.default_address is defined %}
                                {% set address = profile.default_address %}
                                <div class="slide">
                                    {% include 'AppBundle:Account/Helpers:_address-item.html.twig' %}
                                </div>
                            {% endif %}
                            {% if profile.addresses is defined %}
                                {% for address in profile.addresses %}
                                    {% if profile.default_address is defined and address.id != profile.default_address.id %}
                                        <div class="slide">
                                            {% include 'AppBundle:Account/Helpers:_address-item.html.twig' %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <div class="slide">
                                <article class="new-item new-item--address">
                                    <div class="content">
                                        <a href="#modal-add-address" class="activate-modal-link"
                                           data-effect="mfp-zoom-in">Add address</a>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="box__footer">
                            <a href="#modal-add-address" class="btn btn--gray-hasborder activate-modal-link"
                               data-effect="mfp-zoom-in">Add new address</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box-slider">
                <div class="wrapper">
                    <div class="content">
                        <div class="box__header">
                            <div class="left">
                                <h2 class="box__header-title">Payment</h2>
                            </div>
                            <div class="right">
                                <div class="slider-arrows--payment"></div>
                            </div>
                        </div>
                        <div class="box__list payment-list-slider" id="profile-credit-cards">

                            {% if profile.credit_cards is defined %}
                                {% for credit_card in profile.credit_cards %}
                                    {% if credit_card['default'] == true %}
                                    <div class="slide">
                                        {% include 'AppBundle:Account/Helpers:_card-item.html.twig' %}
                                    </div>
                                    {% endif %}
                                {% endfor %}
                                {% for credit_card in profile.credit_cards %}
                                    {% if credit_card['default'] == false %}
                                        <div class="slide">
                                            {% include 'AppBundle:Account/Helpers:_card-item.html.twig' %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <div class="slide">
                                <article class="new-item new-item--credit-card">
                                    <div class="content">
                                        <a href="#modal-add-card" class="activate-modal-link" data-effect="mfp-zoom-in">Add
                                            a card</a>
                                    </div>
                                </article>
                            </div>

                        </div>


                        <div class="box__footer">
                            <a href="#modal-add-card" class="btn btn--gray-hasborder activate-modal-link"
                               data-effect="mfp-zoom-in">Add new card</a>
                        </div>


                    </div>
                </div>
            </div>

            <div class="box">
                <div class="wrapper">
                    <div class="content">
                        <div class="box__header">
                            <h2 class="box__header-title">More</h2>
                        </div>
                        <div class="box__body account__more">
                            <a href="#modal-update-password" class="btn btn--gray-hasborder activate-modal-link"
                               data-effect="mfp-zoom-in">Change password</a>
                            {#<a href="" class="btn btn--gray-hasborder">Notification settings</a>#}
                            {#<a href="" class="btn btn--gray-hasborder">Log in with facebook</a>#}
                        </div>

                    </div>
                </div>
            </div>


            <div class="page-actions">
                <div class="wrapper">
                    <div class="content">
                        <a href="{{ path('_logout') }}" class="btn btn--white">Log Out</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock body %}

{% block javascripts_footer %}
    {{ parent() }}
    <script>

        var options = {
            autoplay: false,
            speed: 200,
            slidesToShow: 3,
            slidesToScroll: 1,
            appendArrows: '.slider-arrows--address',
            prevArrow: '<i class="icon icon-left-open-big">',
            nextArrow: '<i class="icon icon-right-open-big">',
            responsive: [
                {
                    breakpoint: 960,
                    settings: {
                        slidesToShow: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1
                    }
                }
            ]
        };
        var options2 = {
            autoplay: false,
            speed: 200,
            slidesToShow: 3,
            slidesToScroll: 1,
            appendArrows: '.slider-arrows--payment',
            prevArrow: '<i class="icon icon-left-open-big">',
            nextArrow: '<i class="icon-right-open-big">',
            responsive: [
                {
                    breakpoint: 960,
                    settings: {
                        slidesToShow: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1
                    }
                }
            ]
        };
        $('.address-list-slider').slick(options);
        $('.payment-list-slider').slick(options2);


        user.setUserDetailedInfo({{ profileJson|raw }});

    </script>
{% endblock javascripts_footer %}
