<section id="modal-choose-credit-card" class="modal modal--choose-credit-card mfp-with-anim mfp-hide">
    <div class="content">
        <div class="modal__header">
            <h3 class="modal__title">Choose credit card</h3>
        </div>
        <div class="modal__body">

                <div class="credit-card-list">
                    <span class="credit-card-list__title">Saved credit cards</span>
                    <ul>
                    </ul>

                </div>
            </form>
            <a href="#modal-add-card" class="activate-modal-link"> <button type="button" class="btn btn--primary">Add new credit card</button></a>

        </div>
        <div class="modal__footer">
            <a href="#" onclick="$.magnificPopup.close();">Cancel</a>
        </div>
    </div>
</section>
