<section id="modal-contact" class="modal modal--contact mfp-with-anim mfp-hide">
    <div class="content">
        <div class="modal__header">
            <h3 class="modal__title">Hello!</h3>
        </div>
        <div class="modal__body contact-body">
            <p>
                We love hearing from customers and people interested in partnering.
                If you need us to help with something or just want to say hello, here's where you can find us:
            </p>
            <a  class="btn btn--primary" href="mailto:hello@klinkdelivery.com">hello@klinkdelivery.com</a>
            <a  class="btn btn--primary" href="tel:8772364041">(877) 236-4041</a>
        </div>
        <div class="modal__footer">
            <p>
                We share stuff on the internet.
                Join the conversation.
            </p>
        </div>
    </div>
</section>



