<section id="modal-delete-cart" class="modal modal--delete-cart mfp-with-anim mfp-hide">
    <div class="content">
        <div class="modal__header modal__header--with-divider">
            <h3 class="modal__title">Your cart will be cleared. Proceed?</h3>
        </div>
        <div class="modal__body">
            <div class="modal__actions">
                <div class="btn-group">
                    <a href="#" class="btn btn--info cancel-delete-cart--action" style="margin-bottom: 10px;" onclick="$.magnificPopup.close();">No</a>
                    <a href="#" class="btn btn--primary confirm-delete-cart--action" style="margin-bottom: 10px;">Yes</a>
                </div>
            </div>

        </div>
    </div>
</section>