<section id="modal-edit-card" class="modal modal--edit-card mfp-with-anim mfp-hide">
    <div class="content">
        <div class="modal__header">
            <h3 class="modal__title">Edit card</h3>
        </div>
        <div class="modal__body">
            <form action="" class="form form--modal">
                <input type="text" placeholder="Card number" />
                <input type="text" placeholder="Expiration date" />
                <div class="form__group">
                    <input type="text" placeholder="CVV" />
                    <input type="text" placeholder="Billing ZIP" />
                </div>
                <input type="text" placeholder="Name this card(optional)" />
            </form>
            <div class="modal__actions">
                <div class="btn-group">
                    <a href="#" class="btn btn--info" style="margin-bottom: 10px;" onclick="$.magnificPopup.close();">Cancel</a>
                    <a href="#" class="btn btn--primary" style="margin-bottom: 10px;">Update</a>
                </div>
            </div>

        </div>
    </div>
</section>