<section id="modal-edit-address-checkout" class="modal modal--edit-address mfp-with-anim mfp-hide">
    <div class="content">
        <div class="modal__header">
            <h3 class="modal__title">Where is it going?</h3>
        </div>
        <div class="modal__body">
            {% include 'AppBundle:Modals/Includes:address_form_checkout.html.twig' %}
        </div>
    </div>
</section>