<section id="modal-error" class="modal modal--error mfp-with-anim mfp-hide">
    <div class="content">
        <div class="modal__header modal__header--with-divider">
            <h3 class="modal__title">An error occurred</h3>
        </div>
        <div class="modal__body">
           <p id="error-content">An error occurred, please try again later.</p>
        </div>
    </div>
</section>