<section id="modal-get-app" class="modal modal--get-app mfp-with-anim mfp-hide">
    <div class="content">
        <div class="modal__header">
            <h3 class="modal__title">Get the app!</h3>
        </div>
        <div class="modal__body">
            <a class="btn btn--primary" href="https://itunes.apple.com/us/app/drinkdrivers/id805369766?mt=8&ign-mpt=&uo=4">iPhone</a>
            <a class="btn btn--primary" href="https://play.google.com/store/apps/details?id=com.klink.delivery">Android</a>
        </div>
    </div>
</section>



