<section id="modal-max-quantity-cart" class="modal modal--max-quantity-cart mfp-with-anim mfp-hide">
    <div class="content">
        <div class="modal__header">
            <h3 class="modal__title max-quantity-cart-title"></h3>
        </div>
        <div class="modal__body max-quantity-cart">
            <div class="max-quantity-cart-buttons">
                <a href="" class="btn btn--primary max-quantity-cart" id="max-quantity-cart">OK</a>
            </div>
        </div>
    </div>
</section>