<section id="modal-no-available-stores" class="modal modal--user-desclaimer mfp-with-anim mfp-hide">
    <div class="content">
        <div class="modal__header">
            <h3 class="modal__title user-desclaimer-title">This address isn’t within a delivery area.</h3>
        </div>
        <div class="modal__body user-desclaimer-body">
            Please enter a valid address to complete your order.
        </div>
        <div class="modal__actions">
            <div class="btn-group">
                <a href="#" class="btn btn--info" style="margin-bottom: 10px;" onclick="$.magnificPopup.close();">Cancel</a>
            </div>
        </div>
    </div>
</section>
