<section id="modal-promo-code-remove" class="modal modal--promo-code-remove mfp-with-anim mfp-hide">
    <div class="content">
        <div class="modal__header">
            <h3 class="modal__title">Remove Promo Code</h3>
            <form class="form form--modal" method="post" name="promo-code-remove" id="promo-code-remove">
                <input type="text" name="_promo_code_remove" id="_promo_code_remove" readonly/>
                <input type="submit" value="Remove"/>
            </form>
        </div>
    </div>
</section>

