<section id="modal-request-drink" class="modal modal--request-drink mfp-with-anim mfp-hide">
    <div class="content">
        <div class="modal__header modal__header--with-divider">
            <h3 class="modal__title">Can't find something</h3>
            <p class="modal__header-info">Tell us what drinks you wish we had. We'll do our best to make them available and will email you when they are here.</p>
        </div>
        <div class="modal__body">
            <form class="form form--modal" action="">
                <input type="text" placeholder="Product name or decription"/>
                <input type="email" placeholder="Email">
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</section>