<section id="modal-schedule" class="modal modal--schedule mfp-with-anim mfp-hide">
  <div class="content">
    <div class="modal__header">
      <h2 class="schedule-title">Schedule your delivery</h2>
    </div>
    <div class="modal__body">
      <h3 class="schedule-label"><span>Choose a day</span></h3>
      <div class="day-selection-list-wrapper">
        <ul class="day-selection-list">
          <li><a href="#" class="active"><span class="day">Today</span><span class="date">26</span></a></li>
          <li><a href="#"><span class="day">Fri</span><span class="date">27</span></a></li>
          <li><a href="#"><span class="day">Sat</span><span class="date">28</span></a></li>
          <li><a href="#"><span class="day">Sun</span><span class="date">29</span></a></li>
          <li><a href="#"><span class="day">Mon</span><span class="date">30</span></a></li>
          <li><a href="#"><span class="day">Tue</span><span class="date">1</span></a></li>
        </ul>
      </div>
      <h3 class="schedule-label"><span>Choose a time window</span></h3>
      <div class="modal-time-selection-slider-arrows"></div>
      <ul class="time-selection-list modal-slider-time-selection modal-slider">
        <li>Right now</li>
        <li>5-6 PM</li>
        <li>6-7 PM</li>
        <li>7-8 PM</li>
        <li>8-9 PM</li>
        <li>9-10 PM</li>
        <li>10-11 PM</li>
      </ul>
      <a class="schedule-submit form__submit" href="#">Send this Saturday, between 5-6 PM</a>
      <div class="schedule-note">We’ll message you when on our way to remind you.</div>
    </div>
  </div>
</section>