<section id="initial-address-setup-notlogged" class="modal modal--setup-address-notlogged mfp-with-anim mfp-hide">
    <div class="content">
        <div class="modal__header">
            <h3>WHAT'S YOUR ADDRESS?</h3>
            <p>Enter your delivery address to see drinks and prices available to you.</p>
        </div>
        <div class="modal__body">
            <form class="form form--address" action="">
                <div class="address-input-not-logged-in">
                    <div class="ui-widget">
                        <label for="input-address-field-not-logged-in"></label>
                    <input type="text" placeholder="Type new address and press ENTER" id="input-address-field-not-logged-in" class="input-address-field" autocomplete="on"/>
                    </div>
                </div>
                <div class="current-location">
                    <a href="#" id="get-current-location" class="get-current-location--action"><strong>Use my current location</strong>
                    </a>
                    <i class="icon icon-location"></i>
                </div>
                <button type="button" id="submit-new-setup-address" class="btn btn--primary submit-new-setup-address--action">START SHOPPING</button>
            </form>
        </div>
        <div class="modal__footer">
            <a href="/">Back to Klink Home</a> |
            <a href="{{ path('_discover_index') }}">Browse Sample Inventory</a>
            {% if app.user is empty %}|
            <a class="activate-modal-link" data-effect="mfp-zoom-in" href="#modal-login">Sign In</a>
            {% endif %}
            <div class="modal__logo">
                <i class="icon icon-klink-logo3"></i>
            </div>
        </div>
    </div>
</section>
