<section id="modal-register-address" class="modal modal--register-address mfp-with-anim mfp-hide">
    <div class="content">
        <div class="modal__header modal__header--with-divider">
            <h3 class="modal__title">Optional steps</h3>
            <p class="modal__header-info">These steps are optional now but will save you time during checkout</p>
        </div>
        <div class="modal__body">
            <form class="form form--modal" action="">
                <input type="text" placeholder="Contact phone number" />
                <a  href="#modal-add-address" class="btn btn--link btn--block activate-modal-link" data-effect="mfp-zoom-in">Default delivery address</a>
                <a  href="#modal-edit-card" class="btn btn--link btn--block activate-modal-link" data-effect="mfp-zoom-in">Default payment method</a>
                <input type="submit" value="Create account"/>
                <p class="form__info">To Klink you must be 21 or older and agree to the <a href="/tou" target="_blank">terms of use</a></p>
            </form>
        </div>
        <div class="modal__footer">
             <a href="#">Skip for now</a>
        </div>
    </div>
</section>