<section id="modal-updates" class="modal modal--updates mfp-with-anim mfp-hide">
    <div class="content">
        <div class="modal__header">
            <h3 class="modal__title">We'll keep you updated</h3>
            <p class="modal__header-info">
                Enter your email address to keep up with our plans for expansion
            </p>
        </div>
        <div class="modal__body">
            <form action="" class="form form--modal">
                <input type="email" placeholder="Email address" />
            </form>
            <div class="modal__actions">
                <div class="btn-group">
                    <a href="#" class="btn btn--info" onclick="$.magnificPopup.close();">Cancel</a>
                    <a href="#" class="btn btn--primary">Submit</a>
                </div>
            </div>

        </div>
    </div>
</section>