<section id="modal-update-password" class="modal modal--update-password mfp-with-anim mfp-hide">
    <div class="content">
        <div class="modal__header">
            <h3 class="modal__title">Change your password</h3>
        </div>
        <div class="modal__body">
            <form id="update-password" name="update-password" method="post" class="form form--modal" action="">
                <input type="password" value="" required="" placeholder="Current password" name="currentPassword" id="currentPassword">
                <input type="password" value="" required="" placeholder="New password" name="newPassword" id="newPassword">
                <input type="password" value="" required="" placeholder="New password repeated" name="newPasswordConfirm"  id="newPasswordConfirm">

                <div class="btn-group">
                    <a class="btn btn--info" href="#" onclick="$.magnificPopup.close();">Cancel</a>
                    <input type="submit" value="Submit" name="edit-profile-submit" class="btn btn--primary">
                </div>

            </form>
        </div>
    </div>
</section>