<section id="modal-user-desclaimer" class="modal modal--user-desclaimer mfp-with-anim mfp-hide">
    <div class="content">
        <div class="modal__header">
            <h3 class="modal__title user-desclaimer-title">Important to make sure:</h3>
        </div>
        <div class="modal__body user-desclaimer-body">
            <div class="user-desclaimer-doorman user-desclaimer-text">
                <b>The person named here will directly recieve the order</b>. Orders can't be left with doorman, roommates, pets, etc.
            </div>
        </div>
        <div class="modal__body user-desclaimer-body">
            <div class="user-desclaimer-person user-desclaimer-text">
                You are 21 or older and</br>
                <b>have your ID ready to show</b>
            </div>
        </div>
        <div class="modal__body user-desclaimer-body">
            <div class="user-desclaimer-gift user-desclaimer-text">
                If this is a gift, please use the recipient's name and make sure they have an ID ready.
            </div>
        </div>
        <div class="modal__body user-desclaimer-body">
            <div class="user-desclaimer-fees">
                If the person listed is not present at time of delivery or the recipient can't show a valid ID, fees may apply.
            </div>
            <div class="user-desclaimer-buttons">
                <a href="" class="cart-checkout-desclaimer" id="user-desclaimer-denied" onclick="$.magnificPopup.instance.close();">Edit info</a>
                <a href="" class="cart-checkout-desclaimer" id="user-desclaimer-checkout">Got it</a>
                <input type="checkbox" id="user-desclaimer-dont-show" class="user-desclaimer-checkbox"/>
                <label for="user-desclaimer-dont-show"><span>Don't show me this message again</span></label>
            </div>
        </div>
    </div>
</section>
