<section class="collections-hero site-head">
    <div id="bg"></div>
    <img src="{{ collection.image }}" alt="" style="display:none">
        <div class="content">
            <div class="site-head-content">
                <div class="content__inner">
                    <h1 class="collections-hero__title">
                        {{ collection.name }}
                    </h1>

                    <h2 class="collections-hero__subtitle">
                        {{ collection.description }}
                    </h2>
                </div>
            </div>

        </div>
</section>
