// Loader for general page loading
.page-load-circle
	pointer-events: auto;
	position: fixed;
	// z-index: 1045;
	z-index: 9999;
	background: rgba(black, 0.8);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	// opacity: 0;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	.circle
		padding: 0;
		list-style-type:none
		text-align: center
		font-size: 0
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -10px;
		width: 40px;
		height: 40px;
		border-radius: 40px;
		box-sizing: border-box;
		border: solid 3px rgba(255, 255, 255, 0.2);
		border-top-color: #FFF;
		animation: rotate 0.6s infinite linear;
		-webkit-animation: rotate 0.6s infinite linear;
		-moz-animation: rotate 0.6s infinite linear;
		-o-animation: rotate 0.6s infinite linear;
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;


.loading-circle
	position: fixed;
	// z-index: 1045;
	z-index: 9999;
	background: rgba(black, 0.9);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	.circle
		padding: 0;
		list-style-type:none
		text-align: center
		font-size: 0
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -10px;
		width: 40px;
		height: 40px;
		border-radius: 40px;
		box-sizing: border-box;
		border: solid 3px rgba(255, 255, 255, 0.2);
		border-top-color: #FFF;
		animation: rotate 0.6s infinite linear;
		-webkit-animation: rotate 0.6s infinite linear;
		-moz-animation: rotate 0.6s infinite linear;
		-o-animation: rotate 0.6s infinite linear;
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;

.site-loading
	position: fixed;
	// z-index: 1045;
	z-index: 9999;
	background: rgba(black, 0.8);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	pointer-events: none;
	.circle
		padding: 0;
		list-style-type:none
		text-align: center
		font-size: 0
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -10px;
		width: 40px;
		height: 40px;
		border-radius: 40px;
		box-sizing: border-box;
		border: solid 3px rgba(255, 255, 255, 0.2);
		border-top-color: #FFF;
		animation: rotate 0.6s infinite linear;
		-webkit-animation: rotate 0.6s infinite linear;
		-moz-animation: rotate 0.6s infinite linear;
		-o-animation: rotate 0.6s infinite linear;
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;







