<div class="article-content">
    <div class="wrapper">
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda atque commodi dolores earum enim et fuga hic iure iusto laborum libero modi odio reiciendis repellendus, reprehenderit vel voluptatem voluptatum.</p>
            <blockquote>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </blockquote>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam at deleniti dicta, dolore excepturi exercitationem explicabo, fugiat neque nobis odio pariatur quas sint soluta suscipit tempora temporibus voluptates. Asperiores.
            </p>

            <h3>
                Heading h3 subtitle
            </h3>
            <h4>
                Heading h4 subtitle
            </h4>
            <h5>
                Heding h5 subtitle
            </h5>
            <div class="gallery">
                {% for i in 1..4 %}
                    <a href="" class="gallery__image-link">
                        <img src="{{ asset('assets/dist/img/collection-placeholder.png') }}" alt="">
                    </a>
                {% endfor %}
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam at deleniti dicta, dolore excepturi exercitationem explicabo, fugiat neque nobis odio pariatur quas sint soluta suscipit tempora temporibus voluptates. Asperiores.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam at deleniti dicta, dolore excepturi exercitationem explicabo, fugiat neque nobis odio pariatur quas sint soluta suscipit tempora temporibus voluptates. Asperiores.
            </p>
        </div>
    </div>
</div>