<section class="article-hero" style="background-image: url('{{ asset('assets/dist/img/article-hero-placeholder.jpg') }}');">
    <div class="content">
        <div class="site-head-content">
            <h1 class="article-hero__title">
                Article title here
            </h1>
            <h2 class="article-hero__subtitle">
                Subtitle
            </h2>
        </div>
    </div>
</section>
