.page--login
  padding: 40px 0;
  .content
    width: 100%;
    text-align: center;
    +above(bpSmall)
      width: 50%;
    +above(bpMedium)
      width: 30%;
  input
    margin-bottom: 10px;
  h3
    margin-bottom: 20px;
    color: white;
    text-transform: uppercase;
  p
    margin-top: 10px;
  a, p
    font-size: 14px;
